@import './utils/variables';
@import './base/reset';
@import './utils/mixins';

@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/advantage';
@import './components/about';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/subs';
@import './components/modal';
@import './portfolio/holder';
@import './components/modal';
@import './portfolio/gallery';
