@import './utils/variables';

@import './components/logo';
@import './components/page-header';
@import './components/hero';
@import './components/advantege';
@import './components/about';
@import './components/team';
@import './components/masters';
@import './components/clients';
@import './components/footer';
@import './components/subs';
@import './components/holder';
@import './components/pictures';
@import './components/modal';


