.about.section {
  padding-top: 0;
}

.about-title {
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 370px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-actions-title {
  position: absolute;
  display: flex;

  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: center;
  @include font(null, 700, 1.14, null);
  text-transform: uppercase;

  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}
