.advantege-title {
    margin-bottom: 10px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .advantege-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .advantege-item {
    width: 270px;
  }
  
  .advantege-icons-list {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
  
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .advantege-icons {
    width: 100%;
    height: 100%;
  }
  
  .advantege-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .advantege-subtitle {
    margin-bottom: 10px;
  
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
  }
  
  .advantege-text {
    line-height: 1.71;
    color: var(--text-color);
  }
  
  .about-title,
  .team-title,
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
  }