.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  @include font(14px, 500, 1.14, 0.02em);
  color: var(--main-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}

.menu__link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--akcent-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item {
  align-items: center;
  justify-content: center;
  background-size: contain;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__mail,
.contact__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 500, 1.14, 0.02em);
  color: var(--text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
