.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  @include font(44px, 900, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero__btn {
  border: 0px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 136px;
  align-items: center;

  font-family: inherit;
  @include font(16px, 700, 1.88, 0.06em);
  color: var(--second-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
