.header-logo,
.footer-logo {
  font-family: 'Raleway';
  @include font(26px, 700, 1.19, 0.03em);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-web {
  color: var(--akcent-color);
}

.header-studio {
  color: var(--main-color);
}
