.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    width: 528px;
    height: 581px;
    background: var(--btn-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    padding: 40px;
  
    transition: transform 250ms var(--timing-function);
  }
  
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    border-radius: 50%;
  
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--icon-bgc);
  
    display: flex;
    align-items: center;
    justify-self: center;
  
    cursor: pointer;
  
    transition: fill 250ms var(--timing-function);
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    fill: var(--akcent-color);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal-title {
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-color);
  }
  
  .modal-field {
    margin-bottom: 10px;
  }
  .modal-textarea {
    margin-bottom: 20px;
  }
  
  .modal-checkbox {
    margin-bottom: 30px;
  }
  
  .modal-label {
    display: block;
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    color: var(--text-color);
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
  
    margin: 0;
    padding-left: 41px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    border-radius: 4px;
  
    cursor: pointer;
  
    transition: border-color 250ms var(--timing-function);
  }
  
  .input-wrap:focus-within {
    fill: var(--akcent-color);
    outline: transparent;
    border-color: var(--akcent-color);
  }
  
  .modal-input:focus,
  .modal-text:focus {
    outline: transparent;
    border-color: var(--akcent-color);
  }
  
  .input-wrap {
    position: relative;
    transition: fill 250ms var(--timing-function);
  }
  
  .input-icon {
    position: absolute;
  
    left: 12px;
    top: 50%;
  
    transform: translateY(-50%);
  }
  
  .check-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  
    display: flex;
    align-items: center;
  }
  
  .check-text a {
    color: var(--akcent-color);
  }
  
  .check-text span {
    width: 16px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-right: 8.38px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: border-color 250ms var(--timing-function);
  }
  
  .check-icon {
    fill: transparent;
    width: 100%;
    height: 100%;
  }
  
  .input-check {
    transition: border-color 250ms var(--timing-function);
  }
  
  .input-check:checked + .check-text span {
    background-color: var(--akcent-color);
    border: none;
  }
  
  .input-check:checked + .check-text .check-icon {
    fill: var(--icon-bgc);
  }
  
  .modal-btn,
  .footer-subs-btn {
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    color: var(--second-color);
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    transition: background-color 250ms var(--timing-function);
  }
  
  .modal-btn:focus,
  .modal-btn:hover {
    background-color: #188CE8;
  }
  
  .modal-btn {
    display: block;
    margin: 0 auto;
  }
  
  .modal-text {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
  
    transition: border-color 250ms var(--timing-function);
  }
  
  